<body>
    <div class="post" *ngFor="let post of myPosts">
        <p>Título: {{ post.title }} <button (click)="deleteItems(index)">X</button></p>
        <p>Nombre: {{ post.name }} <button (click)="deleteItems()">X</button></p>
        <p>Email: {{ post.email }} <button (click)="deleteItems()">X</button></p>
        <p>Edad: {{ post.age }} <button (click)="deleteItems()">X</button></p>
        <img src="{{ post.image }}" alt="" ><button (click)="deleteItems()">X</button>
        <p>Descripción: {{ post.description }} <button (click)="deleteItems()">X</button></p>

    </div>
</body>