body{

    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .post{
        border: 1px solid black;
        color: rgba(0, 0, 0, 0.582);
        width: 33%;
        margin: 15px;
        background-color: lavender;
    }
}