<form class= "form-post" novalidate (ngSubmit)="onSubmit()" [formGroup]="formPost">

    <fieldset>
        <div class="form__line">
            <label for="title">Título:</label>
            <input type="text" id="title" formControlName="title" placeholder="Título"/>
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!formPost.get('title').valid &&
                (formPost.get('title').dirty || submitted)">
            Has introducido mal el título
            </div>
        </div>

        <div class="form__line">
            <label for="name">Nombre:</label>
            <input type="text" id="name" formControlName="name" placeholder="Nombre"/>
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!formPost.get('name').valid &&
                (formPost.get('name').dirty || submitted)">
            Has introducido mal tu nombre
            </div>
        </div>
  
        <div class="form__line">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" placeholder="ejemplo@ejemplo.com"/>
            <div *ngIf="!formPost.get('email').valid &&
                (formPost.get('email').dirty || submitted)">
            Has introducido mal tu email
            </div>
        </div>
  
        <div class="form__line">
            <label for="age">Edad:</label>
            <input type="number" id="age" formControlName="age" placeholder="Edad"/>
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!formPost.get('age').valid &&
                (formPost.get('age').dirty || submitted)">
            Has introducido mal la edad
            </div>
        </div>
  
        <div class="form__line">
            <label for="image">Imagen:</label>
            <input type="text" id="image" formControlName="image" placeholder="Adjuntar imagen URL"/>
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!formPost.get('image').valid &&
                (formPost.get('image').dirty || submitted)">
            Has introducido mal la imagen
            </div>
        </div>

        <div class="form__line">
            <label for="description">Comentario:</label>
            <input type="text" id="description" formControlName="description" placeholder="Escriba aquí su mensaje..."/>
                <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
            <div *ngIf="!formPost.get('description').valid &&
                (formPost.get('description').dirty || submitted)">
            Has introducido mal la descripción
            </div>
        </div>
    </fieldset>
  
      <!-- Botón deshabilitado hasta que el formulario sea valid -->
      <button class="button_primary" type="submit">Enviar</button>
  
  </form>
